<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">
        <title>Quiz Creation Form</title>
        
    </head>
    <body class="bg-light">
        <div class="row">
            <div class="col-md-7 col-lg-8">
                <h5 class="mb-3">QuiZCrack Creation Form:</h5>
                <form class="needs-validation">
                    <div class="col-md-8">
                        <label for="CategoryName" class="form-label">Enter the Category:</label>
                        <select class="form-select" id ="CategoryName" name ="CategoryName" [(ngModel)]="category" required >
                            <option [ngValue]="undefined" selected>Select a Category</option>
                            <option *ngFor="let category of categories" [value]="category" >{{category}}</option>            
                        </select>
                    </div>
                    <div class="col-md-8">
                        <label for="subCategoryName" class="form-label">Enter the SubCategory:</label>
                        <select class="form-select" id="subCategoryName" name="subCategoryName" [(ngModel)]="subCategory" required >
                            <option [ngValue]="undefined" selected>Select a Sub-Category</option>
                            <option  *ngFor="let subCategory of subCategories" [value]="category">{{subCategory}}</option>
                        </select>
                    </div>
                </form> 
            </div>
        </div>
    </body>
